DEBUG=False
SECRET_KEY=django-insecure-#mkqt$564!@3fko%+yzliad_s_3_1blon%guc_xjw_bpqd8*f8
ALLOWED_HOSTS=localhost,127.0.0.1,moonnova-solutions.onrender.com
CSRF_TRUSTED_ORIGINS=https://moonnova-solutions.onrender.com
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME
GEMINI_API_KEY=AIzaSyBIC5jy8cUNklAq8WU7niNoDiuDZRPMASw
SERVE_MEDIA=True

# Optional email settings
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=noreply@moonnova.com