Django==4.2.0
Pillow==9.5.0
django-crispy-forms==2.0
crispy-tailwind==0.5.0
python-dotenv==1.0.0
django-ckeditor>=6.5.1
django-taggit>=3.1.0

django-compressor
whitenoise
gunicorn


# Django>=4.2.0
# Pillow>=9.5.0
# python-dotenv>=1.0.0
# django-crispy-forms>=2.0
# crispy-bootstrap5>=0.7
# django-ckeditor>=6.5.1